*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;   
    background-color: #d5e5e5; 
}

h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    color: #5a749b
}

.w-6{
    width: 1rem;
}
.h-6{
    height: 1rem;

}
.w-8{
    width: 1.2rem;
}
.h-8{
    height: 1.2rem;
}

.container{
    width: 40rem;
    margin: 1rem auto;
    position: relative;
}

.container::before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translateY(8px) scale(0.99);
    border-radius: 8px;
    border: 1px solid #c8c8ce;
    z-index: 2;
    background-color: #fff;
}

.container::after{
    content: "";
    position: absolute;
    inset: 0;
    transform: translateY(16px) scale(0.98);
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.contents{
    background: #fff;
    position: relative;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
}

.input{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.input > input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.4rem 1rem;
    background-color: #fff;
}

.input > input::placeholder{
    color: #ccc;
}

#list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#list > .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
}

#list > .row > p {
    flex: 1;
    color: #41709c;
}

#list >.row > p.completed{
    color: #ccc;
    text-decoration: line-through;
}

#list > .row > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f5c5c5;
}

#list > .row > button:hover{
    color: #ed7171;
}

#list > .row > .checkbox{
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#list > .row > .active{
    color: #7ba8cd;
}

.actions{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: #ccc;
}

.actions button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.2rem 0.6rem;
    color: #ccc;
}

.actions > button:last-child:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}

.actions > div{
    display: flex;
    gap: 1rem;
    margin-top: 5px;
}

.actions > div > button.active{
    border: 1px solid #e7c1c1;
}